body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

.image-full {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 1em;
}

/* -----------
   Typography 
   ----------- */
h1, 
h2,
h3,
p {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 3.5rem;
    font-weight: 200;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #000;
}

nav {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 1px;
}

.article-title {
    font-size: 1.5rem;
}

.article-read-more,  
.article-author {
    font-size: .875rem;
}

.article-read-more {
    margin: 1em 0;
    font-weight: 700;
    color: #3c3c3c;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.article-read-more:hover,
.article-read-more:focus {
    text-decoration: underline;
}

.article-author {
    margin-bottom: 1em;
    font-weight: 300;
}

.article-body {
    font-size: 1.125rem;
    text-align: justify;
}

.side-section-title {
    font-size: 2rem;
    text-shadow: 3px 3px 3px #C3C3C3;
    text-transform: uppercase;
}

.modern-life-title {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    
}

.modern-life-post-title {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.modern-life-post-body {
    text-align: justify;
    font-size: .825rem;
}

/* ----------
     Layout 
   ---------- */
.container {
    max-width: 95%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header & Footer */
header {
    /* background-color: #F0F0F0; */
    padding: 2em 0;
    /* box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75); */
}

.title{
    text-align: center;
}

nav {
    position: relative;
    /* padding: .2em 0;
    margin: 0 2.5em; */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav li {
    margin-bottom: .5em;
}

nav a {
    padding: .3em .6em;
    text-transform: capitalize;
}

nav a:hover,
nav a:focus {
    background-color: #D3D3D3;
}

.current-page {
    background-color: #D3D3D3;
}

nav::before {
    content: '';
    height: 2px;
    background-color: #000;
    width: 100%;
    position: absolute;
    top: -5px;
}

nav::after {
    content: '';
    height: 2px;
    background-color: #000;
    width: 100%;
    position: absolute;
    bottom: -5px;
}

@media (min-width:700px) {
    .container-flex {
        flex-direction: row;
    }
    
    .title {
        text-align: left;
    }

    nav ul {
        flex-direction: row;
    }
    
    nav li {
        margin-bottom: 0;
    }

    main {
        width: 70%;
    }

    aside {
        width: 25%;
        min-width: 200px;
        margin-left: 1em;
    }
}

/* Articles */

.article-featured {
    border-bottom: #707070 2px solid;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.article-featured:last-child {
    border: 0;
}

.article-recent {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.article-recent-main {
    order: 2;
}

.article-recent-secondary {
    order: 1;
}

@media (min-width: 700px){
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }

    .article-recent-main {
        width: 68%;
    }

    .article-recent-secondary {
        width: 30%;
    }

    .article-featured {
        display: flex;
        flex-direction: column;
    }

    .article-image {
        order: -2;
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }  
}

/*  Sidebar */
aside {
    display: flex;
    flex-direction: column;
}

.sidebar-widget {
    border-left: .5em solid #EBEBEB;
    margin-bottom: 1em;
    padding: 1em;
}

.widget-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #EBEBEB;
    margin-bottom: 1em;
}

.widget-recent-post:last-child {
    border: 0;
    margin: 0;
}

.widget-recent-post-title {
    font-size: 1.125rem;
}

.widget-image {
    order: -1;
    margin-bottom: .5em;
}

.side-section {
    border: dashed 3px #EBEBEB;
    border-radius: 2em;
}



/* Vida Moderna */

.modern-life {
    padding: 1.5em;
    margin: 1em;
    background-color: #EBEBEB;
    border-radius: 1em;
}

.modern-life-image {
    margin: 1em 0;
    width: 100%;
}

.modern-life-post {
    padding: 1em 0;
    border-bottom: 2px dashed #707070;
    display: flex;
    flex-direction: column;
}

.modern-life-post:last-child {
    border: none;
}

@media (min-width: 700px){
    #about-us {
        order: -2;
    }

    #anterior {
        order: -1;
    }

    .modern-life-post {
        width: 48%;
        border-bottom: none;
        border-right: 2px dashed #707070;
        padding: .5em 2em;
    }

    .modern-life-post:first-child {
        padding-left: 0;
    }

    .modern-life-image {
        order: -1;
        max-height: 200px;
        object-fit: cover;        
    }
}